#table {
	text-align: center;
	padding: 12px;
	background-color: #2F393C;
}
	table {
		margin: auto;
		font-size: 22px;
	}
	th {
		text-decoration: underline;
		color: #B96738;
		text-align: center;
		padding: 0px 20px 10px 20px; //top right bottom left
	}
	td {
		padding: 0px 0px 10px 0px;
	}
	tr {
		vertical-align: top;
	}